
/*Used to format bullet points as lists are overwritten by the nav bar */
ul.bulletPoints{
    list-style-type: disc;
    margin: 0;
    padding-left: 40px;
    background-color:white;
    font-family: "Consolas";
    text-align: left;
}


ul.bulletPoints li {
    display: list-item !important;
    list-style-type: circle !important;
    list-style-position: outside;
    float: none !important;
    color: black;
    padding: 5px 0;
}

ul.bulletPoints li a {
    color:black;
    display: inline;
    text-decoration: none;

}

ul.bulletPoints li a:hover{
    background-color: none;
}