/* formatting for the links table*/

th, td {
  padding: 15px;
  background-color: #AED581;
  font-family: "Consolas";
  align-items: center;
  max-width: 100%;

  /* sets the font size of the page if it is large enough */
  @media (min-width: 850px){
    font-size: 25vw;
  }
}
